/* CSS declarations go here */

body {
	padding-top: 40px;
}

.hidden {
	display: none;
}

#login-buttons {
	float: right;
}

.content {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}